* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0d0e0f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #b78080;
    width: 420px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #090909;
}

#product-list {
    margin-bottom: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.product span {
    font-size: 14px;
    color: #0b0b0b;
}

.product button {
    background-color: #5e9c6d;
    color: rgb(6, 6, 6);
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.product button:hover {
    background-color: #986ba8;
}

#cart-items {
    margin-bottom: 15px;
}

#cart-items li {
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

#empty-cart {
    text-align: center;
    color: #0d0c0c;
    font-size: 14px;
}

#cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

#cart-total p {
    font-size: 16px;
    font-weight: bold;
}

#checkout-btn {
    background-color: #404e5d;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
}

#checkout-btn:hover {
    background-color: #0056b3;
}

/* utility class */
.hidden {
    display: none;
}
